@model IEnumerable<PracenjeTuristickogSmjestaja.Models.Vlasnistvo>

@{
    ViewBag.Title = "Vlasništva";
}
@section scripts{

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

}
<script src="~/Scripts/brisanje.js"></script>
<input class="gumbovi btn btn-default" type="button" value="Dodaj vlasništvo" onclick="location.href='@Url.Action("Create", "Vlasnistvo")'" />
@{int i = 0; }
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Objekt iznajmljivanja
        </th>
        <th>
            Adresa
        </th>
        <th>
            OIB vlasnika
        </th>
        <th>
            Ime i prezime
        </th>
        <th>
            % udjela u vlasništvu
        </th>
    </tr>

    @foreach (var item in Model)
    {
        i += 1;
        <tr>
            <td>
                @item.Objekt.broj_objekta_iznajmljivanja
            </td>
            <td>
                @item.Objekt.Adresa - @item.Objekt.naziv
            </td>
            <td>
                @item.Vlasnik.OIB_vlasnika
            </td>
            <td>
                @item.Vlasnik.Ime @item.Vlasnik.Prezime
            </td>
            <td>
                @item.UdioUVlasnistvu %
            </td>
            <td>
                <center>
                    <a href='@Url.Action("Edit", "Vlasnistvo", new {sifra_vlasnika = item.sifra_vlasnika, sifra_objekta = item.sifra_objekta})'>
                        <img class="img-thumbnail" src='@Url.Content("../Slike/editing.png")' />
                    </a>

                    <a data-ajax="true" data-ajax-method="POST" href="/Vlasnistvo/Delete?sifra_vlasnika=@item.sifra_vlasnika&sifra_objekta=@item.sifra_objekta" onclick="setTimeout(brisanje, 200);">
                        <img class="img-thumbnail" src='@Url.Content("../Slike/brisanje.png")' />
                    </a>
                </center>
            </td>
        </tr>
    }

</table>
<p>Ukupno zapisa: @i</p>
