@model IEnumerable<PracenjeTuristickogSmjestaja.Models.Vlasnik>

@{
    ViewBag.Title = "Index";
}
@section scripts{

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

}
<script src="~/Scripts/brisanje.js"></script>
@{var i = 0; }
<input class="gumbovi btn btn-default" type="button" value="Dodaj vlasnika" onclick="location.href='@Url.Action("Create", "Vlasnik")'" />
<table class="table table-bordered table-hover">
    <tr>
        <th>
            OIB vlasnika
        </th>
        <th>
            Ime i prezime
        </th>
        <th>
            Državljanstvo
        </th>
    </tr>

    @foreach (var item in Model)
    {
        i += 1;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OIB_vlasnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime) @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drzavljanstvo.NazivDrzavljanstva)
            </td>
            <td>
                <center>
                    <a href='@Url.Action("Edit", "Vlasnik", new { id = item.sifra_vlasnika })'><img class="img-thumbnail" src='@Url.Content("../Slike/editing.png" )' /></a>

                    <a data-ajax="true" data-ajax-method="POST" href="/Vlasnik/Delete/@item.sifra_vlasnika" onclick="setTimeout(brisanje, 100);">
                        <img class="img-thumbnail" src='@Url.Content("../Slike/brisanje.png" )' />
                    </a>
                </center>
            </td>
        </tr>
    }

</table>
<p>Ukupno zapisa: @i</p>